[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJfod/cocos-headers
[submodule "libraries/Mega-Hack-Extensions"]
	path = libraries/Mega-Hack-Extensions
	url = https://github.com/absoIute/Mega-Hack-Extensions
[submodule "libraries/mat-dash"]
	path = libraries/mat-dash
	url = https://github.com/matcool/mat-dash.git
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = https://github.com/matcool/gd.h.git
